:root{
  --fondo: rgba(245, 245, 245, 1);
  --color-primario: rgba(104, 129, 141, 1); /*5D737E */
  --color-terciario:  rgba(204, 81, 62, 1);
  --color-cuaternario: rgba(255, 87, 10, 1);
  --color-secundario: rgba(251, 255, 18, 1);
  --color-texto: rgba(48, 48, 95, 1);
  
  /* ------------ dark colors -------------------- */
  --fondo-dark:rgba(102, 102, 102, 1);
  --color-primario-dark: rgba(93, 115, 126, 1);
  --color-terciario-dark:  rgba(52, 54, 40, 1);
  --color-cuaternario-dark: rgba(204, 65, 0, 1);
  --color-secundario-dark: rgba(251, 255, 18, 1);
 
  /* ------------ ligth colors -------------------- */
  --fondo-ligth: rgba(255, 255, 255, 1);
  --color-primario-ligth: rgba(126, 149, 160, 1);
  --color-terciario-ligth:  rgba(208, 95, 78, 1);
  --color-cuaternario-ligth: rgba(255, 116, 51, 1);
  --color-secundario: rgba(251, 255, 18, 1);
  
  cursor: none;
}

*{
  margin: 0;
  border: 0;
  padding: 0;
}

body{
  background-color: var(--fondo);
  font-family: 'Changa';

}

header{
  text-align: center;
  margin-bottom: 5em;
}


nav ul{
  width:100%;
  display: inline-flex;
  list-style-type: none;
  margin-inline:auto;
  text-align: center;
  font-size: 1.5vw;
}

nav ul li{
  width: 25%;
  
}
a{
  text-decoration: none;
  color: black;
} 

#nav-inicio{
  background-color: var(--fondo);
}

#nav-sobre_mi{
  background-color: var(--color-cuaternario); 
  transition: 0.5s;
}

#nav-proyectos{
  background-color: var(--color-terciario);
  transition: 0.5s;
}

#nav-contacto{
  background-color: var(--color-primario);
  transition: 0.5s;
}

#nav-inicio:hover{
  background-color: var(--fondo-ligth);
  transition: 0.5s;
}

#nav-sobre_mi:hover{
  background-color: var(--color-cuaternario-ligth);
  transition: 0.5s;
}

#nav-proyectos:hover{
  background-color: var(--color-terciario-ligth);
  transition: 0.5s;
}

#nav-contacto:hover{
  background-color: var(--color-primario-ligth);
  transition: 0.5s;
}

#nombre{
  margin-top: 0.6em;
  margin-bottom: 0.2em;
  font-family: 'Changa', sans-serif;
  font-size:9vw;
  color: var(--color-texto);
  height: 1.3em;
}

#call-to-action{
  background-color: var(--color-texto);
  color: var(--fondo);
  font-size: 1.5vw;
  margin-top: 5em;
  padding: 1em;
}

#call-to-action:hover{
  box-shadow: 0 4px 8px 0 var(--fondo-dark), 0 6px 20px 0 var(--fondo-dark);
}

#sobre_mi{
  margin-bottom: 0.5em;
  padding: 2em;
  text-align: justify;
  background-color: var(--color-cuaternario);
  font-size: 1.5vw;
}

#sobre_mi h2{
  text-align: center;
  margin-bottom: 1em;
  font-size: 3vw;

}